.temperature-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temperature-input-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.temperature-input-card fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.temperature-input-card legend {
    font-size: 1.2rem;
    font-weight: bold;
}

.temperature-input-card input {
    width: 150px;
    height: 30px;
    border: none;
    border-bottom: 2px solid gray;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.temperature-input-card input:focus {
    outline: none;
    border-bottom: 2px solid blue;
}